//Define my VARIABLES

// MIXINS (this is for the Contact Us Page)
@mixin contact-us {
	width: 60%;
	margin: 8px 8px;
	box-sizing: border-box;
	background-color: #006622;
	color: white;
}
* {
	box-sizing: border-box;
	margin: 1%;
}
.logos {
	height: 50%;
	width: 40%;
}
ul {
	list-style-type: none;
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.flex-item{
	flex-basis: auto;
}
body{
	background-color: #cc9900;
}
/*Header*/
.navigation-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: 5px solid #006622;
	color: #006622;
}
header a {
	font-family: 'Anton', sans-serif;
	background-color: #cc9900;
	color: #006622;
}
/*Section*/
section {
	padding: 0 3rem;
}
section h3,h4,p {
	text-align: justify;
}
//.form-center {
//	text-align: center;
//}
section form fieldset {
	font-family: 'Saira Extra Condensed', sans-serif;
	text-align: center;
	color: #006622;
}
/*Footer*/
footer p {
	text-align: center;
	color: #006622;
}
/*********** Home Page ***********/
.youtube-video {
	display: block;
	margin: 0 auto;
}
.contactus-center {
	text-align: center;
}
/**********Energy Industry Page***********/
.energy-center-text {
	text-align: center;
}
.energy-image{
	height: 60%;
	width: 60%;
}
/**********Contact Us Page**********/
.center-text {
	text-align: center;
}
.contacts-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 5% 0%;
}
section div input {
	@include contact-us;
}
.contacts-item{
	@include contact-us;
}
