//VARIABLES
$primary-color: #006622;
$secondary-color: #cc9900;


// MIXINS (for modules on Contact Us & Energy Industry)
@mixin contact-us {
	width: 60%;
	margin: 8px 8px;
	box-sizing: border-box;
	background-color: $primary-color;
	color: white;
	border-radius: 20px;
}
* {
	box-sizing: border-box;
	margin: 1%;
}
ul {
	list-style-type: none;
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.flex-item{
	flex-basis: auto;
}
body{
	background-color: $secondary-color;
}
/*Header*/
.navigation-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: 5px solid $primary-color;
	color: $primary-color;
}
header a {
	font-family: 'Anton', sans-serif;
	background-color: $secondary-color;
	color: $primary-color;
}
/*Section*/
section {
	padding: 0 3rem;
		h3,h4,p {
		text-align: justify;
	}
}
section form fieldset {
	font-family: 'Saira Extra Condensed', sans-serif;
	text-align: center;
	color: $primary-color;
}
/********Footer**********/
footer p {
	text-align: center;
	color: $primary-color;
}
/*********** Home Page ***********/
.youtube-video {
	display: block;
	margin: 0 auto;
}
.contactus-center {
	text-align: center;
}
/**********Energy Industry Page***********/
.energy-center-text {
	text-align: center;
}
.flex-item{
	@include contact-us;
	width: 50%;
		img:hover {
			opacity: 0.3;
	} 
}
/**********Contact Us Page**********/
.center-text {
	text-align: center;
}
.contacts-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 5% 0%;
}
section div input {
	@include contact-us;
}
.contacts-item{
	@include contact-us;
}
