* {
	box-sizing: border-box;
	margin: 1%;
}
img {
	width: 50%;
	height: 50%;
	border: 10em;
	border-radius: 15%;
}
ul {
	list-style-type: none;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.flex-item{
	flex-grow: 2rem;
	flex-basis: auto;
}
body{
	background-color: aliceblue;
}
/*Section*/
section {
	background-color: white;
	padding: 0 3rem;
}
section h3,h4,p {
	text-align: justify;
}
.form-center {
	text-align: center;
}
/*Footer*/
footer p {
	text-align: center;
}
/*********** Home Page ***********/
.youtube-video {
	display: block;
	margin: 0 auto;
}
.contactus-center {
	text-align: center;
}
/**********Energy Industry Page***********/
.energy-center-text {
	text-align: center;
}
/**********Contact Us Page**********/
.center-text {
	text-align: center;
}
.google-maps{
	width: 100%;
}
.canan-balaban-image {
	/*TODO: Adjust image*/
	height: 40%;
	width: 70%;
}

