img {
	width: 50%;
	height: 50%;
	border: 10em;
}
ul {
	list-style-type: none;
}
/*Footer*/
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.flex-item{
	flex-grow: 2rem;
	flex-basis: auto;
}